.sidebar__option {
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: 40px;
  cursor: pointer;
  color: #818181;
  border-radius: 0 20px 20px 0;
}
.sidebar__option:hover,
.sidebar__option:hover p,
.sidebar__option:hover h3,
.sidebar__option--active,
.sidebar__option--active p,
.sidebar__option--active h3 {
  background: #fcecec;
  font-weight: 400, im !important;
  color: #c04b37;
}
.sidebar__option p {
  font-weight: 500;
  display: none;
}
.sidebar__option:hover p {
  display: inline;
}
.sidebar__option .MuiSvgIcon-root {
  padding: 10px;
}
.sidebar__option h3 {
  flex: 1;
  font-weight: 400;
  font-style: 14px;
  margin-left: 10px;
}
.sidebar__option--active p {
  display: inline;
}
.sidebar__option--active p {
  display: inline !important;
}
.sidebar__footer {
  display: flex;
  justify-content: center;
}
